
body{
    margin: 0px;
    color:rgb(37, 33, 33);
    position:relative;
}
.sfondo{
    background-size: cover;
    background-repeat:no-repeat ;
    background-position: right;
    width: 100%;
    height: 100%;
}
.titolo{
    font-family:'Alfa Slab One';
    letter-spacing:1px;
    font-weight:normal;
    text-align: center;
    position:absolute;
    left:0px;
    top:0px;
    font-size: 50px;
}

h1 strong{
    font-size: 50px;
}

 h1 em{
    font-size: 20px;
}

nav a{
    position:absolute;
    top:20px;
    right:5px;
    border:2px solid black;
    border-radius: 15px;
    margin:2px;
    padding:5px 10px;
    background-color: gray;
    font-size: 25px;
    color:black;
    letter-spacing: 1px;
    font-weight: bold;
    text-decoration: none;
}

nav a:hover{
    border:3px solid green;
    border-radius: 10px;
    cursor: pointer;
}


.blocco-esterno{
    border:5px solid black;
    position:absolute;
    bottom:20%;
    right:5%;
    width: 35%;
    height: 60%;
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(59, 98, 124);
}

    

label{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0 10px 0;
}

input{
    margin-left:0.5em;
}
.scrivi h1{
    margin:5px 0;
}
.nascondi{
    display: none;
}

.acesso_utente{
    display: flex;
    flex-direction: column;
}

.clicca{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}